/* components/SearchBar.module.css */
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f3f4; /* 배경색 추가 */
  border-radius: 12px; 
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  white-space: pre-wrap;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px; /* 폰트 크기 설정 */
  background-color: transparent; /* 배경 투명하게 설정 */
}

.button {
  flex: 1;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
}

.button:hover {
  background-color: #0056b3;
}
